<!DOCTYPE html>
<html>
<body>

  <h1>My First Heading 🔥</h1>

  <p>My first paragraph ⛄️</p>

  <p class="test-class">
    You may provide arbitrary sections, in the same format as the ones above. This may be 
    of use for extremely complicated plugins where more information needs.
  </p>
  <p class="test-class">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
		Et harum quidem rerum facilis est et expedita distinctio.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
  </p>
  <div ng-switch-when="boolean" ng-if="param.optional" class="radio">
    <label>
      <input type="radio"
             ng-model="apiMethod.params[param.name]"
             name="{{param.name}}"
             id="{{param.name}}_true"
             ng-value="true">
      true
    </label>
  </div>
  <li>で変換可能なすべての層に対応<code>nnoir-onnx</code>
    <ul>
      <li>AveragePoll, MaxPool, Convolution層は2Dのみサポート</li>
    </ul>
  </li>
  <li><code>nnoir-onnx</code>で変換可能なすべての層に対応
    <ul>
      <li>AveragePoll, MaxPool, Convolution層は2Dのみサポート</li>
      <li>LRNの利用は非推奨</li>
    </ul>
  </li>
  <li><code>nnoir-chainer</code>を利用時は<code>resize_image</code>に対応</li>
  <li>LSTMは非対応</li>
  <p>test 123 rrr<code>
    `function` checkParent (src, dest) {<Br>
     while (src != null) {<Br>
       if (src.tagName == dest) return src<Br>
        src = src.parentElement<Br>
     }<Br>
     return null<Br>
    }</code></p>
  <div ng-switch-when="boolean" ng-if="param.optional" class="radio">
    <label>
      <input type="radio"
             ng-model="apiMethod.params[param.name]"
             name="{{param.name}}"
             id="{{param.name}}_false"
             ng-value="false">
      false
    </label>
  </div>
</body>
</html>

